@using BlazorApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthService AuthService
@inject NavigationManager NavMgr

<aside class="d-flex flex-column bg-white h-100">
    <div class="d-flex align-items-center px-2 mb-4">
        <h1 class="text-primary fw-bolder fs-3 mb-0 tracking-tight">Learnify</h1>
    </div>
    <nav class="nav flex-column flex-grow-1">
        <div class="nav-item">
            <NavLink class="btn nav-btn" href="" Match="NavLinkMatch.All">
                <i class="fas fa-book-open"></i> My Courses
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="btn nav-btn" href="all-courses">
                <i class="fas fa-th-list"></i> All Courses
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="btn nav-btn" href="leaderboard">
                <i class="fas fa-trophy"></i> Leaderboard
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="btn nav-btn" href="profile">
                <i class="fas fa-user"></i> Profile
            </NavLink>
        </div>
        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item">
                    <NavLink class="btn nav-btn" href="admin-panel">
                        <i class="fas fa-user-shield"></i> Admin Panel
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
    <div class="mt-auto px-2">
        <AuthorizeView>
            <Authorized>
                <button class="btn btn-outline-secondary w-100 text-uppercase fs-6" @onclick="Logout">
                    LOG OUT
                </button>
            </Authorized>
            <NotAuthorized>
                <NavLink class="btn btn-outline-secondary w-100 text-uppercase fs-6" href="login">
                    LOG IN
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</aside>

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        NavMgr.NavigateTo("/");
    }
}