@using BlazorApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthService AuthService
@inject NavigationManager NavMgr

<aside class="d-flex flex-column bg-white h-100">
    <h1 class="text-success fw-bolder fs-3 px-3 mb-5 tracking-tight">Learnify</h1>
    <nav class="nav flex-column flex-grow-1">
        <div class="nav-item">
            <NavLink class="btn nav-btn" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i> Learn
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="btn nav-btn" href="profile">
                <i class="fas fa-user"></i> Profile
            </NavLink>
        </div>
    </nav>
    <div class="mt-auto px-2">
        <AuthorizeView>
            <Authorized>
                <button class="btn btn-outline-secondary w-100 text-uppercase fs-6" @onclick="Logout">
                    LOG OUT
                </button>
            </Authorized>
            <NotAuthorized>
                <NavLink class="btn btn-outline-secondary w-100 text-uppercase fs-6" href="login">
                    LOG IN
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</aside>

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        NavMgr.NavigateTo("/");
    }
}