HELP.md
target/
System/DataServer/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
System/DataServer.apt_generated
System/DataServer.classpath
System/DataServer.factorypath
System/DataServer.project
System/DataServer.settings
System/DataServer.springBeans
System/DataServer.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
System/DataServer/nbproject/private/
System/DataServer/nbbuild/
System/DataServer/dist/
System/DataServer/nbdist/
System/DataServer/.nb-gradle/
System/DataServer/build/
!**/src/main/**/build/
!**/src/test/**/build/
