@page "/"

@using BlazorApp.Auth
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavMgr
<PageTitle>Home</PageTitle>

<h1>Hello</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
        <button @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        lol you are not logged in!
    </NotAuthorized>
</AuthorizeView>
blahblahblah
<button @onclick='() => NavMgr.NavigateTo("login")'>go to login</button>
@code {
    private async Task Logout()
    {
        await ((SimpleAuthProvider)AuthProvider).Logout();
    }
}