@page "/"
@using BlazorApp.Entities
@using BlazorApp.Services
<PageTitle>Courses</PageTitle>
@inject ICourseService CourseService

<h1>Courses</h1>
<ul>

@foreach (Course course in courses)
{
    <li> 
        ID: @course.Id, <br /> Title: @course.Title <br /> Description: @course.Description <br /> Category:@course.Category <br /> Language:@course.Language
    </li>
}</ul>
@code {

    private List<Course> courses = new List<Course>();

    protected override async Task OnInitializedAsync()
    {
        await DisplayCourses();
    }

    private async Task DisplayCourses()
    {
        courses = await CourseService.GetCourses();
    }
}
